<app-buttonclick (newEvent)="emittedEvenet($event)"></app-buttonclick>

<!-- <div class="container">

  <div class="upper-data">

    <img src="../assets/Software News.gif" alt="" *ngIf="14>15">
    <img src="../assets/Adventures - motion design.gif" alt="" *ngIf="14<=15">
    <div class="wether-data">
      <div class="location text-uppercase ">{{city}}</div>
      <div class="temperature">{{temp}}</div>
    </div>
  </div>

  <div class="lower-data">
    
    <div class="search-bar mb-2 ">
      <app-autocomplete 
      (placeChanged)="fromValue = $event"
      placeholder="Enter from address..."
    ></app-autocomplete>
      <button (click)="getWeatherDataCity()">Search</button>
    </div>
    <div class="more-info-labler">
      More Information
    </div>
    <div class="more-info-containar">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/Halloween Yet__ Photo.gif" alt="">
          <span>Min</span>
        </div>
        <div class="info-block-value">
          {{mintemp}}*C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/Prometheus's cat.gif" alt="">
          <span>Max</span>
        </div>
        <div class="info-block-value">
          {{maxtemp}}*C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/99U NYC.gif" alt="">
          <span>Humidity</span>
        </div>
        <div class="info-block-value">
          {{humidity}}
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/Lost pea boat.gif" alt="">
          <span>Wind</span>
        </div>
        <div class="info-block-value">
         {{wind}}
        </div>
      </div>
    </div>
    
    <div>
      
    </div>
    </div>
</div> -->
